@media (min-width: 290px) and (max-width: 1000px) {
    .ml1 {
        margin-top: 50%;
    }

    .kontener2 {
        padding: 12px;
        text-align: center;
        margin-top: 60%;
    }
}
